
.footer{
  text-align: center;
  font-size: 14px;
  font-family: 'Open sans''sans-serif';
  display: grid;
  width: auto;
}  

span{
  color: #E65150;
}
a{
  text-decoration: none;
}
.icon:hover{
  color: #E65150;
}